<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @badge.game_id %>
</p>

<p>
  <b>Name:</b>
  <%= @badge.name %>
</p>

<p>
  <b>Image:</b>
  <%= @badge.image %>
</p>


<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
