<h1>Listing games</h1>

<table>
  <tr>
    <th>Gerne</th>
    <th>Name</th>
    <th>Image</th>
    <th>Version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.gerne %></td>
    <td><%= game.name %></td>
    <td><%= game.image %></td>
    <td><%= game.version %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
